@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?80145026');
  src: url('../fonts/fontello.eot?80145026#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?80145026') format('woff2'),
       url('../fonts/fontello.woff?80145026') format('woff'),
       url('../fonts/fontello.ttf?80145026') format('truetype'),
       url('../fonts/fontello.svg?80145026#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}